!!!
%html{:lang => "ja"}
  %body
    %div.header
      %div.actionbox グループを作成しました

    %div.container
  
      %div.subbox1 
        %p.subbox1__user_name ichi
        %ul.subbox1__user_menu
          %li.list
            = link_to do
              = fa_icon 'edit', class: 'icon'
          %li.list
            = link_to do
              = fa_icon 'cog', class: 'icon'
          
      %div.subbox2 
        %p.subbox2__group_name 市川家
        %p.subbox2__group_oldest_message 最初のコメント
  
      %div.mainbox1 
        %div.mainbox1__group_current
          %h2.mainbox1__group_current_name 市川
          %ul.mainbox1__group_current_members Member:ichi
        %a.mainbox1__edit_button{:href =>"/index"} Edit
        
      %div.mainbox2
        %div.mainbox2__messages
          %div.mainbox2_message_baseinfo 
            %p.mainbox2_message_baseinfo__user ichi
            %p.mainbox2_message_baseinfo__date 2019/4/14
          %p.mainbox2_message_text aaaaaaaa
          
      %div.mainbox3
        %div.message_box
          %div.message_box_input
            %input(class="message_box_input__text" placeholder="type a message" type="text" )
          %label.image-label{:for => "message_image"}
            %i.far.fa-images
            %input#message_image.image-label__input{type: :file}
          %a.message_box__send_button{:href =>"/index"}Send