@charset "UTF-8";

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "subbox1 mainbox1"
    "subbox2 mainbox2"
    "subbox2 mainbox3";
  
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr 90px;
  }


.mainbox1 {
  grid-area: mainbox1;
  padding: 0 40px 0;
  border-bottom: solid 2px #eeeeee;
  display: flex;
  
    &__group_current_name{
    font-size: 20px;
    color: #333333;
    margin-top: 35px;
    }  

    &__group_current_members{
    font-size: 12px;
    color: #999999;
    margin-top: 15px;
    }

    &__edit_button{
    height: 40px;
    padding: 0 20px 0;
    margin-top: 28px;
    margin-left: 85%;
    font-size: 20px;
    color:$sky_blue;
    border:solid 2px $sky_blue;
    line-height: 40px;
    text-decoration:none;
    }
  }  

.mainbox2 {
  grid-area: mainbox2;
  overflow:auto;
  background-color: #fafafa;
  padding: 46px 40px 0;  

    &__messages{
    padding-bottom: 40px;
    }

    &_message_baseinfo{
    height: auto;
    display: flex;
    box-sizing: border-box;
    margin-bottom:10px;
    }

    &_message_baseinfo__user{
    font-size:16px;
    font-weight:bold;
    color:$main_text;
    }

    &_message_baseinfo__date{
    font-size:12px;
    color:$main_text; 
    margin-left:10px;
    }

    &_message_text{
    font-size:14px;
    color:$main_text;
    }

    &_message_text__content{
      font-size:14px;
      color:$main_text;
      }
  }

.form {
  grid-area: mainbox3;
  box-sizing: border-box;
  background-color: gray; 
  padding: 20px 40px 20px;  
  }
  
.message{  
  &_box_input{
  float: left;
  background-color: white;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #434A54;
  line-height: 50px;
  } 

  &_box_input__text{
  float: left;
  background-color: white;
  width: calc(100% - 180px);
  height: 46px;
  font-size: 16px;
  color: $main_text;
  line-height: 50px;
  border-style:solid;
  border-color:white;
  }
}
  
  .form__mask {
    background-color: $white;
    height: 50px;
    
    &__image {
      float: left;
      font-size: 20px;
      margin:10px;
      line-height: 50px;
    }
    
    .hidden {
      display: none;
      float: left;
    }

    .picture-o-images{
      float: left;
      font-size:30px;
      color: black;
    }

    &__send_button{
      background-color: $sky_blue;
      float: right;
      margin-left: 15px;
      text-align: center;
      line-height: 50px;
      width: 100px;
      height: 50px; 
      color:white;
      font-size: 20px;
      text-decoration:none;
      border:solid 2px $sky_blue;
    }
  }